!!!
%head
  %link{rel: 'stylesheet', href: '/css/app.css'}
  %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:300',
        rel: 'stylesheet', type:'text/css'}
%body
  #wrapper
    #content.center
      = yield
  #credit
    %span photo:
    %a{href: 'http://www.flickr.com/photos/nokton/2919278558/'} nokton
%script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'}
%script{src: '/js/app.js'}
