!!!
%head
  %link{rel: 'stylesheet', href: '/css/app.css'}
  %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:300',
        rel: 'stylesheet', type:'text/css'}
%body
  #shade
  #wrapper.page_section.expand
    #content.center
      = yield
  #credit.page_section
    #credit_contents
      %span photo:
      %a{href: 'http://www.flickr.com/photos/nokton/2919278558/'} nokton
  #credit_bg
%script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'}
%script{src: '/js/app.js'}
