html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial;
  font-weight: 300;
  color: #FFF;

  margin: 0;
  padding: 0;
  border: 0;

  display: table;

  background: no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@media (min-width: 1921px) {
  body {
    background-image: url('/img/bg/2520.jpg');
  }
}

@media (min-width: 1367px) and (max-width:1920px) {
  body {
    background-image: url('/img/bg/1920.jpg');
  }
}

@media (min-width: 769px) and (max-width:1366px){
  body {
    background-image: url('/img/bg/1366.jpg');
  }
}

@media (max-width: 768px) {
  body {
    background-image: url('/img/bg/768.jpg');
  }
}

#content {
  padding-top: 50px;
}

.page_section {
  display: table-row;
  height: 1px;
}

.page_section.expand {
  height: auto;
}

a {
  color: #FF6D00;
  text-decoration: none;
}

a:hover {
  color: #FF8A33;
}

a:visited {
  color: #FF6D00;
}

#wrapper {
  width: 100%;
  text-align: center;
  padding-top: 50px;

  min-height: 100%;
}

.center {
  margin: 0 auto;
}

/* image pane */

#shade {
  position: absolute;
  z-index: -2;
  top: 0;
  width: 100%;
  background: #000;
  opacity: .4;
}

#logo_stripe {
  position: absolute;
  background: #FF6D00;
  width: 100%;
  z-index: -1;
}

#logo_pane {
  display: inline-block;
}

#heading_pane {
  clear: both;
  text-align: center;
}

#left {
  padding: 10px;
}

#me {
  padding: 10px;
  border-radius: 50%;
  max-width: 300px;
}

#name {
  max-height: 100px;
  max-width: 80%;
  padding: 10px;
}

#connect_pane {
  clear: both;
  padding: 50px;
  max-width: 500px;
}

.service_link {
  display: inline-block;
  width: 100px;
  height: 100px;
  cursor: pointer;
  cursor: hand;
  padding: 20px;
}

.service_link [fill] {
  fill: #FFF;

  -webkit-transition: fill .25s ease;
  -moz-transition: fill .25s ease;
  -o-transition: fill .25s ease;
  transition: fill .25s ease;
}

.service_link [stroke] {
  stroke: #FFF;

  -webkit-transition: stroke .25s ease;
  -moz-transition: stroke .25s ease;
  -o-transition: stroke .25s ease;
  transition: stroke .25s ease;
}

.service_img {
  width: 100%;
  max-height: 100%;
  pointer-events: none;
}

.service_link:hover [fill] {
  fill: #FF6D00;
}

.service_link:hover [stroke] {
  stroke: #FF6D00;
}

#credit {
  text-align: right;
}

#credit_contents {
  padding: 10px;
  display: inline-block;
}

#credit_bg {
  position: absolute;
  padding: 10px;
  background: #000;
  opacity: .3;
  z-index: -1;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 */
.clearfix {
    *zoom: 1;
}

/* valign */

.align_top {
  vertical-align: top;
}

.align_top:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.align_mid {
  vertical-align: middle;
}

.align_top:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
