body {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial;
  font-weight: 300;
  color: #FFF;

  margin: 0;
  padding: 0;
  border: 0;

  background: no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@media (min-width: 1921px) {
  body {
    background-image: url('/img/bg/2520.jpg');
  }
}

@media (min-width: 1367px) and (max-width:1920px) {
  body {
    background-image: url('/img/bg/1920.jpg');
  }
}

@media (min-width: 769px) and (max-width:1366px){
  body {
    background-image: url('/img/bg/1366.jpg');
  }
}

@media (max-width: 768px) {
  body {
    background-image: url('/img/bg/768.jpg');
  }
}

a {
  color: #FF6D00;
  text-decoration: none;
}

a:hover {
  color: #FF8A33;
}

a:visited {
  color: #FF6D00;
}

#wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
}

.center {
  margin: 0 auto;
}

/* image pane */

#shade {
  position: absolute;
  z-index: -2;
  top: 0;
  width: 100%;
  background: #000;
  opacity: .4;
}

#logo_stripe {
  position: absolute;
  background: #FF6D00;
  width: 100%;
  z-index: -1;
}

#logo_pane {
  padding: 10px;
}

#heading_pane {
  display: inline-block;
  text-align: left;
}

#left_pane {
  float: left;
  padding: 15px;
}

#me_pane {
  float: left;
  text-align: center;
  padding: 15px;
}

#me {
  border-radius: 50%;
  max-width: 300px;
}

#name {
  max-height: 100px;
  max-width: 80%;
}

#connect_pane {
  padding-bottom: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.service_link {
  display: inline-block;
  width: 100px;
  height: 100px;
  cursor: pointer;
  cursor: hand;
  padding: 20px;
}

.service_img {
  width: 100%;
  max-height: 100%;
}

#credit {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
}

#credit_bg {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: #000;
  opacity: .3;
  z-index: -1;
}
